<!DOCTYPE html>
<html>
<head>
  <title>Dark Mode Bootstrap Page</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Include your custom CSS for dark mode -->
  <link rel="stylesheet" href="path/to/dark-mode.css">
</head>

<body class="dark-mode">
  <div class="d-flex flex-column justify-content-between">
    <header class="d-flex justify-content-between align-items-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="btn btn-outline-light" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
